*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
:root {
	--primaryColor: #1b82f7;
	--white: #ffffff;
	--grey-dark: #00000080;
	--grey-light: #e5e5e5;
	--red: red;
	--green: green;
	--blue: blue;
	--i: 5.2;
}

body {
	/* background-color: var(--grey-light); */
	background-color: var(--primaryColor);
	display: grid;
	place-content: center;
	/* height: 100vh; */
	overflow: hidden;
	margin-top: 150px;
}

.form.container {
	min-width: calc(100px * var(--i));
	max-width: calc(100px * var(--i));
}

.form.container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form.container header .steps {
	border: 3px solid var(--white);
	width: 40px;
	height: 40px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	position: relative;
	background: var(--grey-light);
}

.form.container header .steps.completed {
	border: 3px solid var(--green);
	transition: all 0.5s cubic-bezier(0.39, 0.99, 0.77, 0.73);
}

header .steps:not(:last-child):after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(100%);
	width: calc(110% * var(--i));
	height: 4px;
	background: var(--white);
	transition: all 0.5s cubic-bezier(0.39, 0.99, 0.77, 0.73);
}

header .steps.completed:first-child,
header .steps.completed:nth-child(2),
header .steps.completed:nth-child(3) {
	color: var(--green);
}
header .steps.completed:first-child::after,
header .steps.completed:nth-child(2)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(100%);
	width: calc(110% * var(--i));
	height: 4px;
	background: var(--green);
}

.form form .stepper {
	margin-top: 30px;
	background-color: var(--white);
	padding: 20px;
	border-radius: 5px;
	position: relative;
}

.form form .stepper::after {
	content: '';
	position: absolute;
	top: 0;
	transform: translate(0, -50%) rotate(45deg);
	background: var(--white);
	width: 23px;
	height: 23px;
}
.form form .stepper:nth-child(1)::after {
	left: 11px;
}
.form form .stepper:nth-child(2)::after {
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.form form .stepper:nth-child(3)::after {
	right: 11px;
}
.stepper .imageWrapper{
  border: 1px solid var(--grey-dark);
  max-width: 100px;
  max-height: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.stepper .imageWrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.emailError,
.passwordError,
.confirmPasswordError,
.firstNameError,
.lastNameError,
.phoneError,
.countryError,
.provinceError,
.municipalityError,
.genderError,
.imageError {
	display: none;
}
.emailError.show,
.passwordError.show,
.confirmPasswordError.show,
.firstNameError.show,
.lastNameError.show,
.phoneError.show,
.countryError.show,
.provinceError.show,
.municipalityError.show,
.genderError.show,
.imageError.show {
	display: block;
}

.gap {
	gap: 10px;
}
.pointer {
	cursor: pointer;
}

@media (max-width: 600px) {
	:root {
		--i: 4.5;
	}
}
@media (max-width: 450px) {
	:root {
		--i: 3.5;
	}
	.column {
		flex-direction: column;
	}
	.maxContent {
		width: max-content;
	}
}
